/* common styles */
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 50px 80px;
}

/* nav bar styles */
.icon-image{
  height: 35px;
  width: 35px;
}
.icon-anchor{
  margin : 0;
}
.menu-list li{
  list-style: none;
  margin-left: 35px;
}
.menu-list li a{
  text-decoration: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list{
  display: flex;
  align-items: center;
}