/* common styles */
nav, header, main{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 50px 80px;
}

/* nav bar styles */
.icon-image{
  height: 35px;
  width: 35px;
}
.icon-anchor{
  margin : 0;
}
.menu-list li{
  list-style: none;
  margin-left: 35px;
  font-size: 15px;
  font-weight: 400px;
}
.menu-list li a{
  text-decoration: none;
  color: black;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list{
  display: flex;
  align-items: center;
}
.nav-title{
  font-size: 35px;
  font-weight: 700;
  color: black;
}

/* banner-section style */
.banner-title{
  width: 40%;
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-heading{
  font-size: 45px;
  font-weight: 700px;
  color: black;
  margin: 0;
}
.banner-text{
  font-size: 15px;
  font-weight: 400px;
  color: gray;
  margin: 0;
  margin-top: 20px;
}
.banner-button{
  background-color: palevioletred;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 250px;
  height: 40px;
  width: 150px;
  margin-top: 25px;
}
.banner-image{
  padding: 20px;
  margin-right: 20px;
}

/* esponsor section style */
.esponsors-section li{
  list-style: none;
}
.esponsors-section{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 40px 100px 0px 100px;
}
.esponsor-image{
  height: 25px;
  width: 90px;
}

/* card section styles */
.cards-section{
  margin-top: 120px;
}
.card-headline{
  font-size: 28px;
  font-weight: 700;
  color: rgb(58, 58, 58);
  text-align: center;
}
.card-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1080px;
  margin: 0px auto;
}
.card{
  width: 300px;
  height: 380px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 8px 8px 8px 8px rgb(177, 177, 177);
  margin-top: 40px;
}
.card:hover{
  box-shadow: 8px 8px 8px 8px rgb(110, 110, 110);
  border: 2px dashed rgb(255, 112, 112);
}
.card-title{
  font-size: 20px;
  font-weight: 700;
  color: rgb(58, 58, 58);
  margin: 0;
  margin-top: 8px;
}
.price-tag{
  font-size: 17px;
  font-weight: 400;
  color: rgb(77, 77, 77);
  margin: 0;
  margin-top: 10px;
}
.rating{
  color: #f1c40f;
  font-size: 18px;
}
.rating .start{
  cursor: pointer;
}
.rating .star:hover{
  color: #f39c12;
}
.rating-marks{
  color: rgb(87, 87, 87);
  font-size: 12px;
}
.card-massage, .card-details{
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

/* features style */
.feature{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 130px;
}
.feature-image{
  padding: 15px;
}
.feature-heading{
  width: 40%;
}
.feature-title{
  font-size: 35px;
  font-weight: 700px;
  color: black;
  margin: 0;
  margin-top: 5px;
}
.feature-text{
  font-size: 15px;
  font-weight: 400px;
  color: gray;
  margin: 0;
  margin-top: 12px;
}
.feature-button{
  background-color: palevioletred;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 5pxpx;
  height: 40px;
  width: 150px;
  margin-top: 20px;
}

/* footer styles */
footer{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.footer-section{
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: brown;
  text-align: center;
}
.footer-title{
  font-size: 25px;
  font-weight: 700;
  padding-top: 30px;
  margin: 0;
  margin-bottom: 10px;
}
.footer-text{
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
.logo-list{
  padding: 15px 0;
}
.logo-list li{
  list-style: none;
  display: inline;
  margin-left: 10px;
}
.footer-logo{
  height: 32px;
  width: 32px;
}

/* make responsive for mobile phone */

@media screen  and (min-width : 200px) and (max-width: 576px){
  /* navbar responsive */
  .navbar{
    flex-direction: column;
  }
  .nav-title{
    text-align: center;
  }
  .menu-list{
    flex-direction: column;
  }
  .menu-list li{
    margin-top: 15px;
  }

  /* banner responsive */
  .banner{
    flex-direction: column-reverse;
  }
  .banner-title{
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }
  .banner-heading{
    font-size: 30px;
    font-weight: 600px;
  }

  /* esponsor section */
  .esponsors-section{
    margin: 40px auto 0px auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  .esponsors-section li{
    list-style: none;
    text-align: center;
  }

  /* cards section */
  .card-section{
    grid-template-columns: repeat(1, 1fr);
  }

  /* feature section */
  .feature{
    flex-direction: column-reverse;
    justify-content: center;
  }
  .feature-heading{
    margin-top: 40px;
    width: 100%;
  }
  .feature-title{
    font-size: 30px;
    font-weight: 600px;
  }
}

/* make responsive for tab */
@media screen and (min-width: 576px) and (max-width: 1430px){

  /* nav bar */
  .menu-list{
    flex-direction: column;
  }
  .menu-list li{
    margin-top: 15px;
  }
  .banner-title{
    width: 50%;
  }

  /* esponsor */
  .esponsors-section{
    margin: 40px auto 0px auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
  }

  /* cards section */
  .card-section{
    grid-template-columns: repeat(2, 1fr);
  }

  /* feature section */
  .feature{
    flex-direction: column-reverse;
    justify-content: center;
  }
  .feature-heading{
    margin-top: 40px;
    width: 100%;
  }
  .feature-title{
    font-size: 30px;
    font-weight: 600px;
  }
}